{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}
	<link href="{{asset('https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css')}}" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{asset('custom.css')}}">

	<div class="row example-wrapper">

		<div class="col-md-6">
			<div class="card" style="width: 18rem;">
				<img src="{{array.card_img}}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">{{array.card_title}}</h5>
					<p class="card-text">{{array.card_content}}</p>
					<a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>

        	<div class="col-md-6">
			<div class="card" style="width: 18rem;">
				<img src="{{array.card_img}}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">{{array.card_title}}</h5>
					<p class="card-text">{{array.card_content}}</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>

        
	</div>

	<script src="{{asset('https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js')}}" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	<script src="{{asset('https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js')}}" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
	<script src="{{asset('https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js')}}" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
{% endblock %}
